<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Detail</h1>
	
	<table border="1">
		<tr>
			<th>제목</th>
			<td><input type="text" th:value="${dto.mytitle}" name="mytitle" readonly></td>
		</tr>
		<tr>
			<th>작성자</th>
			<td><input type="text" th:value="${dto.myname}" name="myname" readonly></td>
		</tr>
		<tr>
			<th>내용</th>
			<td><textarea th:text="${dto.mycontent}" cols="60" rows="10" readonly name="mycontent"></textarea></td>
		</tr>
		<tr>
			<td colspan="2" align="right">
				<input type="button" th:value="삭제" th:onclick="|location.href='delete?myno=${dto.myno}'|">
				<input type="button" th:value="수정하기" th:onclick="|location.href='updateform?myno=${dto.myno}'|" >
				<input type="button" th:value="목록" onclick="location.href='list'">
			</td>
		</tr>
	</table>
	
</body>
</html>