<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.member">
	
	<select id="login" parameterType="MemberDto" resultType="MemberDto">
		SELECT MEMNO, MEMID, MEMPW, MEMNAME
		FROM MEMBER
		WHERE MEMID = #{memid}
		AND MEMPW = #{mempw}
	</select>
	
	<insert id="regist" parameterType="MemberDto">
		INSERT INTO MEMBER
		VALUES (MEMNOSEQ.NEXTVAL, #{memid}, #{mempw}, #{memname})
	</insert>
	
</mapper>
