<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- Root Context: defines shared resources visible to all other web components -->
	
	<!-- MultipartResolver : Multipart객체를 컨트롤러에 전달하는 역할(잠깐 파일 가지고 있는 애) -->
	<bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<!-- 최대 업로드 가능한 바이트 크기 -->
		<property name="maxUploadSize" value="100000000"></property>
		<property name="defaultEncoding" value="UTF-8"></property>
	</bean>
	
</beans>
